---
- name: Determine Swarm Status
  ansible.builtin.shell: docker info | grep Swarm | awk '{print $2}'
  register: swarm_status
  changed_when: false
  ignore_errors: true

- name: Join Swarm as Worker
  ansible.builtin.shell: |
    docker swarm join --token {{ hostvars[groups['manager'][0]]['worker_join_token'] }} {{ swarm_manager_ip }}:{{ swarm_port }}
  when: swarm_status.stdout != "active"
