---
- name: Check Swarm Status
  ansible.builtin.shell: docker info | grep Swarm | awk '{print $2}'
  register: swarm_status
  changed_when: false
  ignore_errors: true

- name: Force Leave Swarm
  ansible.builtin.command: docker swarm leave --force
  when: swarm_status.stdout in ["active", "pending", "error"]
