---
- name: Setup Swarm Manager
  hosts: manager
  become: true
  vars_files:
    - vars/main.yml
  tasks:
    - name: Determine Swarm Status
      ansible.builtin.shell: docker info | grep Swarm | awk '{print $2}'
      register: swarm_status
      changed_when: false
      ignore_errors: true

    - name: Initialize Swarm Manager
      ansible.builtin.shell: |
        docker swarm init --advertise-addr {{ swarm_manager_ip }}
      register: swarm_init_output
      changed_when: "'Swarm initialized' in swarm_init_output.stdout"
      when: swarm_status.stdout != "active"
