---
- name: Install Docker
  hosts: "{{ target | default('docker') }}"
  become: true
  vars_files:
    - vars/main.yml
  tasks:
    - name: Install required system packages
      ansible.builtin.apt:
        name:
          - ca-certificates
          - curl
          - gnupg
          - lsb-release
        state: present
        update_cache: yes

    - name: Create directory for Docker GPG key
      ansible.builtin.file:
        path: /etc/apt/keyrings
        state: directory
        mode: '0755'

    - name: Add Docker's official GPG key
      ansible.builtin.get_url:
        url: https://download.docker.com/linux/ubuntu/gpg
        dest: /etc/apt/keyrings/docker.asc
        mode: '0644'

    - name: Add Docker repository
      ansible.builtin.lineinfile:
        path: /etc/apt/sources.list.d/docker.list
        line: "deb [arch={{ app_arch }} signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable"
        create: yes
        mode: '0644'

    - name: Create download directory
      ansible.builtin.file:
        path: "{{ download_dir }}"
        state: directory
        mode: '0755'

    - name: Download Docker packages
      ansible.builtin.get_url:
        url: "{{ download_url }}/{{ item }}"
        dest: "{{ download_dir }}/{{ item }}"
        mode: '0644'
      loop:
        - "{{ containerd }}"
        - "{{ docker_ce }}"
        - "{{ docker_ce_cli }}"
        - "{{ docker_buildx }}"
        - "{{ docker_compose }}"

    - name: Install Docker packages
      ansible.builtin.apt:
        deb: "{{ download_dir }}/{{ item }}"
      loop:
        - "{{ containerd }}"
        - "{{ docker_ce_cli }}"
        - "{{ docker_ce }}"
        - "{{ docker_buildx }}"
        - "{{ docker_compose }}"
      notify: Check Docker Service

  handlers:
    - name: Check Docker Service
      ansible.builtin.service:
        name: docker
        state: started
        enabled: yes
