---
# Install Docker Engine
- name: Update package lists
  ansible.builtin.apt:
    update_cache: true

- name: Install required dependencies
  ansible.builtin.apt:
    name: dpkg-dev
    state: present

- name: Ensure download directory exists
  ansible.builtin.file:
    path: "{{ download_dir }}"
    state: directory
    mode: "0755"

- name: Download Docker packages
  ansible.builtin.get_url:
    url: "{{ download_url }}/{{ item }}"
    dest: "{{ download_dir }}/{{ item }}"
  with_items:
    - "{{ containerd }}"
    - "{{ docker_ce }}"
    - "{{ docker_ce_cli }}"
    - "{{ docker_buildx }}"
    - "{{ docker_compose }}"

- name: Install downloaded Docker packages
  ansible.builtin.command: dpkg -i {{ download_dir }}/{{ item }}
  with_items:
    - "{{ containerd }}"
    - "{{ docker_ce_cli }}"
    - "{{ docker_ce }}"
    - "{{ docker_buildx }}"
    - "{{ docker_compose }}"
  ignore_errors: true

- name: Add Docker group
  ansible.builtin.group:
    name: docker
    state: present

- name: Add root user to Docker group
  ansible.builtin.user:
    name: root
    groups: docker
    append: true

- name: Start and enable Docker service
  ansible.builtin.systemd:
    name: docker
    state: started
    enabled: true

- name: Display Docker status
  ansible.builtin.command: systemctl status docker
  register: docker_status
  changed_when: false

- name: Show Docker status output
  ansible.builtin.debug:
    msg: "{{ docker_status.stdout_lines | select('search', 'Active:') | list }}"

- name: Cleanup downloaded packages
  ansible.builtin.file:
    path: "{{ download_dir }}/{{ item }}"
    state: absent
  with_items:
    - "{{ containerd }}"
    - "{{ docker_ce }}"
    - "{{ docker_ce_cli }}"
    - "{{ docker_buildx }}"
    - "{{ docker_compose }}"
