---
# Restart Docker
- name: Get Swarm Status
  ansible.builtin.shell: docker info | grep Swarm | awk '{print $2}'
  register: swarm_status
  changed_when: false

- name: Display the Node Swarm Status
  ansible.builtin.debug:
    msg: "Node has Swarm Status: {{ swarm_status }}"

- name: Restart Docker if Swarm Error
  ansible.builtin.shell: |
    docker system prune -f
    systemctl restart docker.socket
    systemctl restart docker
  when: swarm_status.stdout == "error"
