---
- name: Revert Systemd Logind Settings
  ansible.builtin.lineinfile:
    path: /etc/systemd/logind.conf
    regexp: '^#?{{ item.key }}='
    line: '#{{ item.key }}=ignore'
    state: present
  loop:
    - { key: 'HandleLidSwitch', value: 'ignore' }
    - { key: 'HandleLidSwitchExternalPower', value: 'ignore' }
    - { key: 'HandleLidSwitchDocked', value: 'ignore' }
  notify: Restart systemd-logind

- name: Unmask Sleep Targets
  ansible.builtin.systemd:
    name: '{{ item }}'
    masked: false
    enabled: true
  loop:
    - sleep.target
    - suspend.target
    - hibernate.target
    - hybrid-sleep.target

- name: Revert Wi-Fi Power Save
  ansible.builtin.file:
    path: /etc/NetworkManager/conf.d/default-wifi-powersave-on.conf
    state: absent
  notify: Restart NetworkManager
